In [3]:
import pandas as pd
import numpy as np

In [10]:
# import data
demo = pd.read_csv("./data/demo2023q2.csv", dtype={'to_mfr': str})

In [11]:
demo.columns

Index(['primaryid', 'caseid', 'caseversion', 'i_f_code', 'i_f_code_num',
       'event_dt', 'event_dt_num', 'mfr_dt', 'mfr_dt_num', 'init_fda_dt',
       'init_fda_dt_num', 'fda_dt', 'fda_dt_num', 'rept_cod', 'rept_cod_num',
       'auth_num', 'mfr_num', 'mfr_sndr', 'lit_ref', 'age', 'age_cod',
       'age_grp', 'sex', 'e_sub', 'wt', 'wt_cod', 'rept_dt', 'rept_dt_num',
       'to_mfr', 'occp_cod', 'reporter_country', 'occr_country',
       'occp_cod_num'],
      dtype='object')

In [14]:
# decide which columns to drop based on data dictionary: https://pharmahub.org/app/site/resources/2018/01/00739/FDA-FAERS-Data-Dictionary.pdf
to_drop = ["caseversion", "i_f_code", "i_f_code_num", "rept_cod", "rept_cod_num", "auth_num", "mfr_num", "e_sub", "rept_dt_num", "to_mfr" ]
demo.drop(to_drop, axis=1, inplace=True)

In [16]:
demo.head()

,primaryid,caseid,event_dt,event_dt_num,mfr_dt,mfr_dt_num,init_fda_dt,init_fda_dt_num,fda_dt,fda_dt_num,...,age_cod,age_grp,sex,wt,wt_cod,rept_dt,occp_cod,reporter_country,occr_country,occp_cod_num
0,37318572,3731857,19991101.0,01nov1999,20230515.0,15may2023,20011113,13nov2001,20230518,18may2023,...,YR,NaN,M,NaN,NaN,20230518,HP,US,US,NaN
1,40815622,4081562,20011128.0,28nov2001,20230328.0,28mar2023,20040206,06feb2004,20230407,07apr2023,...,YR,NaN,F,52.0,KG,20230407,MD,DE,NaN,MD Physician
2,59214303,5921430,20050122.0,22jan2005,20230420.0,20apr2023,20051111,11nov2005,20230425,25apr2023,...,YR,NaN,M,NaN,NaN,20230425,HP,US,NaN,NaN
3,59221653,5922165,20050930.0,30sep2005,20230420.0,20apr2023,20051114,14nov2005,20230428,28apr2023,...,YR,NaN,M,103.0,KG,20230428,HP,CA,NaN,NaN
4,60665134,6066513,NaN,NaN,20230531.0,31may2023,20060616,16jun2006,20230605,05jun2023,...,YR,NaN,M,NaN,NaN,20230602,HP,JP,JP,NaN

In [17]:
demo.shape

(418592, 23)

In [23]:
demo.value_counts("occr_country").head(n=10)

occr_country
US    244677
CA     28977
JP     14320
GB     12092
FR     11746
DE      7656
CN      5807
IT      5352
ES      3897
AU      3300
dtype: int64

In [27]:
demo.value_counts("mfr_sndr").head(n=10)

mfr_sndr
NOVARTIS                36480
PFIZER                  28864
SANOFI AVENTIS          23459
ABBVIE                  21329
ROCHE                   19707
AMGEN                   18685
JOHNSON AND JOHNSON     17993
BRISTOL MYERS SQUIBB    17660
FDA-CTU                 17197
UCB                     14300
dtype: int64